<div class="main-content">
    <div class="header-cont">
        <a mat-icon-button routerLink="/profile">
            <mat-icon class="m-icon">keyboard_backspace</mat-icon>
        </a>
        <div class="header-title">
            <div>Статистика</div>
        </div>
    </div>
    <div class="employee-info">
        <div class="avatar-background">
            <img class="avatar-img" src="/assets/avatar.jpg" alt="avatar">
        </div>
        <div>
            <div class="employee-name">{{ memberData.personData.lastName }} {{ memberData.personData.firstName }}</div>
            <div class="employee-occupation">{{ memberData.personData.position }}</div>
        </div>
    </div>
    <div class="static-blocks">
        <div class="static-block done">
            <div class="static-title">Всего завершено <mat-icon>done_all</mat-icon></div>
            <div class="static-amount"><span class="static-number">25</span> задач</div>
        </div>  
        <div class="static-block expired">
            <div class="static-title">Всего просроченно <mat-icon>timer_off</mat-icon></div>
            <div class="static-amount"><span class="static-number">15</span> задач</div>
        </div>  
    </div>
</div>
