<div class="board">
    <div
        class="column"
        *ngFor="let column of columns; let i = index"
        cdkDropList
        [id]="'list-' + i"
        [cdkDropListData]="column.tasks"
        [cdkDropListConnectedTo]="connectedDropLists"
        (cdkDropListDropped)="drop($event)">
        <h3>{{ column.title }}</h3>
        <div class="task" *ngFor="let task of column.tasks" cdkDrag (click)="openTaskDialog(task)">
            <div class="task-name">
                {{ task.name }}
            </div>
            <div class="from-whom">
                от {{ task?.fromWhom }}
            </div>
        </div>
    </div>
</div>

