<div class="title-cont">
    <a mat-icon-button routerLink="/board">
        <mat-icon class="m-icon">keyboard_backspace</mat-icon>
    </a>
    <h1 class="panel-name">Профиль</h1>
</div>
<div class="profile-container">
  <div class="avatar-section">
    <div class="avatar-container" (click)="triggerFileInput()">
      <img [src]="userInfo()?.avatar ? 'http://localhost:8000/uploads/avatars/' + userInfo()?.avatar : 'assets/default-avatar.png'" 
           alt="Avatar" 
           class="avatar-image">
      <div class="avatar-overlay">
        <mat-icon>photo_camera</mat-icon>
      </div>
    </div>
    <input #fileInput type="file" 
           accept="image/*" 
           (change)="onFileSelected($event)" 
           style="display: none">
  </div>
</div>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="personal-info-cont">
    <div class="field-cont" *ngFor="let field of fields">
      <div class="input-title">{{ field.label }}</div>
      <input class="profile-inpt" [type]="field.type" [placeholder]="userInfo()?.[field.controlName]" [formControlName]="field.controlName">
    </div>
  
    <div class="buttons-cont">
      <button type="button" class="cancel-btn" (click)="onCancel()">
        Отменить
      </button>
      <button type="submit" class="save-btn" [disabled]="!profileForm.valid" (click)="onSubmit()">
        Сохранить
      </button>
    </div>
</form>
  