<div class="main">
    <div class="login-panel">
        <div class="content">
            <div>
                <h3 class="title">Войдите в аккаунт</h3>
                <p class="subtitle-log">Нет аккаунта? <a data-panel=".panel-signup" routerLink="/sign-up">Зарегистрируйтесь</a></p>
            </div>
            <div>
                <div>
                    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                        <div class="input-fields-block">
                            <div>
                                <input class="input-field" type="email" formControlName="email"
                                    placeholder="Почта">
                                <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
                                    <span *ngIf="loginForm.get('email')?.errors?.['required']">Почта обязательна</span>
                                    <span *ngIf="loginForm.get('email')?.errors?.['email']">Введите корректный email</span>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <span>
                                        <input class="input-field" type="password" formControlName="password"
                                            placeholder="Пароль">
                                    </span>
                                </div>
                                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
                                    <span *ngIf="loginForm.get('password')?.errors?.['required']">Пароль обязателен</span>
                                    <span *ngIf="loginForm.get('password')?.errors?.['minlength']">Пароль должен быть не менее 6 символов</span>
                                </div>
                                <div *ngIf="loginError" class="error-message">
                                    <span>Неправильный логин или пароль</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="underneath-block">
                        </div>
                        <div>
                            <button type="submit" class="login-btn" [disabled]="loginForm.invalid">
                                Войти
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>