<div class="main">
    <div class="login-panel">
        <div class="content">
            <div>
                <h3 class="title">Зарегистрируйтесь</h3>
                <p class="subtitle-log">Есть аккаунт? <a data-panel=".panel-signup" routerLink="/login">Войдите</a></p>
            </div>
            <div>
                <div>
                    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                        <div>
                            <input class="input-field" type="email" formControlName="email" placeholder="Почта">
                        </div>
                        <div>
                            <div>
                                <span>
                                    <input class="input-field" type="password" formControlName="password" placeholder="Пароль">
                                </span>
                            </div>
                        </div>
                        <div class="underneath-block">
                            <!--<div class="center">
                                    <input type="checkbox" value="remember-me">
                                    <span class="rem-me">Запомнить меня</span>
                            </div>
                            <div class="center">
                                <a data-panel=".panel-forgot">Забыли пароль?</a>
                            </div>-->
                        </div>
                        <div>
                            <button type="submit" class="login-btn">
                                Зарегистрироваться
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>