<div class="nav-bar">
    <div class="left-part">
        <h1 class="nav-title">ManaDo</h1>
    </div>
    <div class="right-part">
        <button class="create-btn" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openDialog()">Создать</button>
        <div class="img-content" routerLink="/profile">
            
            <img class="avatar" src="/assets/avatar.jpg" alt="your picture">
        </div>
    </div>
</div>
  
<div class="tickets-cont">
    <router-outlet></router-outlet>
</div>